# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
path = 'output_data/cities.csv'
cities = pd.read_csv(path, index_col=0)
cities.head()

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Kapaa,22.08,-159.32,78.80,65,75,9.17,US,1587327838
1,Ossora,59.24,163.07,18.68,90,99,11.27,RU,1587327614
2,New Norfolk,-42.78,147.06,48.99,87,100,5.37,AU,1587327838
3,Rikitea,-23.12,-134.97,76.87,68,100,6.96,PF,1587327838
4,Tuktoyaktuk,69.45,-133.04,8.60,84,90,11.41,CA,1587327839

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key = g_key)
locations = cities[['Latitude', 'Longitude']]
g_key

'AIzaSyCcjeLIrT5y-kxG4DU1k4yK84L4ME48QCM'

In [4]:
# Plot Heatmap
figure_layout = {'width': '500px', 'margin': '0 auto 0 auto'}
fig = gmaps.figure(map_type="TERRAIN", layout=figure_layout)
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=cities['Humidity'],dissipating=False, max_intensity=10,point_radius=1)
# Add layer
fig.add_layer(heat_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px', margin='0 auto 0 auto', width='500px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
one = cities[cities['Max Temperature']>70]
two = one[one['Max Temperature']<80]
three = two[two['Wind Speed'] < 10]
hotel_df = three[three['Cloudiness'] == 0]
hotel_df = hotel_df.reset_index()
hotel_df

,index,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,171,Negombo,7.21,79.84,79.66,85,0,1.50,LK,1587327873
1,298,Willowmore,-33.29,23.49,70.27,18,0,5.37,ZA,1587327900
2,338,Atar,20.52,-13.05,75.74,17,0,9.08,MR,1587327723
3,486,Adrar,20.50,-10.07,79.21,16,0,7.43,MR,1587327937

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df['Hotel Name'] = ""

for index,rows in hotel_df.iterrows():
    try:
        base_url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?"\
        f"location={rows['Latitude']},{rows['Longitude']}&radius=5000&keyword=hotel&key={g_key}"
        response = requests.get(base_url).json()
        hotel_df.loc[index, 'Hotel Name'] = response['results'][0]['name']
        # Assigning the latitude and longitude for the hotel to this frame
        hotel_df.loc[index, 'Latitude'] = response['results'][0]['geometry']['location']['lat']
        hotel_df.loc[index, 'Longitude'] = response['results'][0]['geometry']['location']['lng']
    except IndexError:
        print(f"Not registered hotel found near {rows['City']}, {rows['Country']} within 5000m")
        
three[three['Cloudiness'] == 0]

Not registered hotel found near Adrar, MR within 5000m

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
171,Negombo,7.21,79.84,79.66,85,0,1.50,LK,1587327873
298,Willowmore,-33.29,23.49,70.27,18,0,5.37,ZA,1587327900
338,Atar,20.52,-13.05,75.74,17,0,9.08,MR,1587327723
486,Adrar,20.50,-10.07,79.21,16,0,7.43,MR,1587327937

In [7]:
hotel_df

,index,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,171,Negombo,7.241700,79.84180,79.66,85,0,1.50,LK,1587327873,Jetwing Blue
1,298,Willowmore,-33.296272,23.48471,70.27,18,0,5.37,ZA,1587327900,Royal Hotel
2,338,Atar,20.490850,-13.06298,75.74,17,0,9.08,MR,1587327723,Odar kanawal
3,486,Adrar,20.500000,-10.07000,79.21,16,0,7.43,MR,1587327937,

In [22]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [29]:
# Add marker layer ontop of heat map
locats = hotel_df[["City","Country","Latitude", "Longitude", "Hotel Name"]]
locats = locats[locats['Hotel Name'] != ""]

content = [f"Hotel: {locats.loc[index,'Hotel Name']}, city: {locats.loc[index, 'City']}, country: {locats.loc[index,'Country']}" for index,row in locats.iterrows()]
markers = gmaps.marker_layer(locats[["Latitude","Longitude"]],\
                             info_box_content= content)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px', margin='0 auto 0 auto', width='500px'))